.profile-row {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        object-position: right;
        margin-right: 16px;
    }
    .description {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
    }
    .name {
        width: 140px;
    }
    a {
        font-size: 12px;
        color: blue;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}