/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Lato', sans-serif;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}